/* styles/larger.css */
@media screen and (min-width: 1025px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-content {
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
       
    #menu-toggle {
        display: none;
    }
    
    #primary-nav {
        display: flex !important;
    }
}

