/* styles/larger.css */
@media screen and (min-width: 1025px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
       
    #menu-toggle {
        display: none;
    }
    
    #primary-nav {
        display: flex !important;
    }
}

